
<div class="hero-container">
	<div class="row">
		<div class="large-6 columns pull-right hero-text">
			<p>Take your business to the next level with our affordable, complete Point Of Sale solutions.</p>
			<div class="top-cta large radius button">Call us now</div>
		</div>
		<div class="large-6 columns pull-left pos-image">
			<img src="assets/breeze-hero-2.png" alt="" class="breeze">
			<img src="assets/Aldelo-iPad-small.png" alt="" class="ipad">
		</div>
	</div>
</div>





<section class="small-blurbs">
<div class="row">
	<article class="large-4 columns blurb">
		<a href="#big-blurb1" class="scroll"><h2>Our Services</h2></a>
		<p>We integrate your new POS system into your restaurant seamlessly and help at every step of the way until completion and beyond.</p>
	</article>
	<article class="large-4 columns blurb">
		<a href="#big-blurb2" class="scroll"><h2>Our Software</h2></a>
		<p>We'll get you set up and trained with Aldelo POS, an industry standard software with every feature you can imagine, for any kind of establishment.</p>
	</article>
	<article class="large-4 columns blurb">
		<a href="#big-blurb3" class="scroll"><h2>Our Hardware</h2></a>
		<p>Cash drawers, printers, customer displays, barcode scanners, even Kitchen Display systems and more. Installation of any equipment you may want is available to you.</p>
	</article>
	</div>
</section>


<section class="large-blurbs">
	<article class="row home-row">
		<div class="large-6 columns">
			<h2>Our Services</h2> 
			<p>We integrate your new POS system into your restaurant seamlessly and help at every step of the way until completion and beyond.</p> 
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, illo ipsum velit alias iste hic consectetur similique quas molestias assumenda cupiditate libero neque voluptatem et maiores culpa eveniet a illum.</p>
		</div>
		<div class="large-6 columns">
				<img src="http://placehold.it/690x416" id="big-blurb1">	
		</div>
	</article>

	<article class="row home-row">
		<div class="large-6 columns">
			<img src="http://placehold.it/690x416"  id="big-blurb2">	
		</div>
		<div class="large-6 columns">
			<h2>Our Software</h2> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p> 
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, cum, quod, aperiam, magni tenetur odit amet molestiae sapiente nulla animi voluptas quos labore! Fugiat, cupiditate dolor quidem totam quod blanditiis?</p>
		</div>
	</article>

	<article class="row home-row">
		<div class="large-6 columns">
			<h2>Our Hardware</h2> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p> 
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, sequi, distinctio est corporis culpa odio minus voluptates ducimus explicabo at quae obcaecati quibusdam hic earum qui aspernatur maxime totam nulla!</p>
		</div>

		<div class="large-6 columns">
			<img src="http://placehold.it/690x416"  id="big-blurb3">	
		</div>
	</article>
</section>

