
<section class="hero-container">
	<div class="row">
		<div class="large-5 large-offset-1 hero-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus cursus 
				leo, et facilisis ante hendrerit et. Aliquam nunc mauris, ultricies eu dapibus 
			  sed, suscipit eget quam. Proin cursus molestie dictum. Nam lorem erat, eleifend 
			  ut convallis nec, dapibus nec mauris. Maecenas fermentum ultrices neque a 
			</p>
		</div>
		<div class="large-offset-7 top-cta-container">
			<a href="#" class="top-cta large success button radius ">Get in touch now</a>
		</div>
	</div>
</section>


<section class="small-blurbs row">
	<article class="large-4 columns blurb">
		<a href="#big-blurb1" class="scroll"><h2>Aldelo POS</h2></a>
		<p>Lorem ipsum dolor sit amet, test2 adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p>
	</article>
	<article class="large-4 columns blurb">
		<a href="#big-blurb2" class="scroll"><h2>Aldelo POS</h2></a>
		<p>Lorem ipsum dolor sit amet, test2 adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p>
	</article>
	<article class="large-4 columns blurb">
		<a href="#big-blurb3" class="scroll"><h2>Aldelo POS</h2></a>
		<p>Lorem ipsum dolor sit amet, test2 adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p>
	</article>
</section>


<section class="large-blurbs">
	<article class="row home-row">
		<div class="large-6 columns">
			<h2>Aldelo POS</h2> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p> 
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, illo ipsum velit alias iste hic consectetur similique quas molestias assumenda cupiditate libero neque voluptatem et maiores culpa eveniet a illum.</p>
		</div>
		<div class="large-6 columns">
				<img src="http://placehold.it/690x416" id="big-blurb1">	
		</div>
	</article>

	<article class="row home-row">
		<div class="large-6 columns">
			<img src="http://placehold.it/690x416"  id="big-blurb2">	
		</div>
		<div class="large-6 columns">
			<h2>Aldelo POS</h2> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p> 
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, cum, quod, aperiam, magni tenetur odit amet molestiae sapiente nulla animi voluptas quos labore! Fugiat, cupiditate dolor quidem totam quod blanditiis?</p>
		</div>
	</article>

	<article class="row home-row">
		<div class="large-6 columns">
			<h2>Aldelo POS</h2> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, voluptates repellat doloribus magni impedit quibusdam nulla minima dolorum nostrum consequatur saepe quod cumque corporis explicabo architecto veritatis laborum assumenda. Ex?</p> 
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, sequi, distinctio est corporis culpa odio minus voluptates ducimus explicabo at quae obcaecati quibusdam hic earum qui aspernatur maxime totam nulla!</p>
		</div>

		<div class="large-6 columns">
			<img src="http://placehold.it/690x416"  id="big-blurb3">	
		</div>
	</article>
</section>


