/***********************************************************************
**** HEADER  ***********************************************************
************************************************************************/

@font-face {
	font-family: 'Corbel';
	src: font-url('corbel.eot');
	src: font-url('corbel.svg')  format('svg'),
		   font-url('corbel.woff') format('woff'),
	   	 font-url('corbel.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}


p, h1, h2, h3, h4, a {
	font-family: 'Corbel';
}

header {
		background: #2183d0;
	border-bottom: 2px solid black;


}

.header-top{
	background: #0e2f59;
	height: 7em;
}

.logo {
	position: absolute;
	top: .25em;
	max-width: 12em;
	width: 32em;
	left: 50%;
	margin-left: -6em;
	z-index: 100;
}



.logo-container {
	height: 0;
	position: absolute;
	// top: .2em;
	text-align: center;
	img {
		position: relative;
		width: 3em ;
	}
}





/***********************************************************************
**** NAVIGATION ********************************************************
************************************************************************/

nav {
	margin: 0 12em;



	height: 6em;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;


	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	text-align: center;

	li {
		-webkit-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: inline;
		a{
			font-size: 1.25em;
			color: white;
			&:hover {
				color: #2183d0;
			}
		}
	}
}

.nav-spacer {
	width: 16em;
}





/***********************************************************************
**** FOOTER ************************************************************
************************************************************************/

.footer-top {
	height: 8em;
	background: #264f73;
}

.footer-bottom {
	height: 2em;
	background: #0e2f59;
	text-align: right;
		.copyright {
		color: white;
		display: inline-block;
		text-align: right;
		margin-top: .5em;
		margin-right: 2em;
	}
}