

/***********************************************************************
**** HERO IMAGE ********************************************************
************************************************************************/

.home-row { 
margin-bottom: 5em;
}

.hero-container {
	overflow: hidden;
	background: url('/assets/hero.jpg') no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	h1,h2 {
		color: white;
	}
}

.pos-image {
	position: relative;
	height: 30em;
	img {
		position: absolute;
		left: 0;
	&:first-child {
		top: 1em;
		left: -6em;
		-webkit-transform: scale(1.15);
		-moz-transform: scale(1.15);
		-ms-transform: scale(1.15);
		transform: scale(1.15);
		z-index: 1000;
		-webkit-transition: left 1s ease-in-out;
		-moz-transition: left 1s ease-in-out;
		-ms-transition: left 1s ease-in-out;
		transition: left 1s ease-in-out;
	 }
	 &:last-child {
	 	-webkit-transform: scale(0.8);
	 	-moz-transform: scale(0.8);
	 	-ms-transform: scale(0.8);
	 	transform: scale(0.8);
	 	top: 2em;
	 	left: -4.75em;
	 }
	}
	&:hover img:first-child {
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-ms-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
	left: -45em;
	}
}


.hero-text {
	top: 3em;
	left: 5em;
	text-align: left;
	p {
		font-size: 3em;
		color: #f0f0f0;
		line-height: 1.4;
		margin-bottom: .75em;
	}
}


.top-cta {
	bottom: 0;
	color: #f0f0f0;
	background-color: #83d021;
}

/***********************************************************************
**** SMALL BLURBS ******************************************************
************************************************************************/

.blurb {
	margin-bottom: 1em;
	-webkit-transition: all .2s ease-in-out; 
	-moz-transition: all .2s ease-in-out; 
	transition: all .2s ease-in-out; 

	h2 {
		margin-bottom: 0;
		text-align: center;
	}
	&:hover {
	transform:scale(1.2,1.2);
-ms-transform:scale(1.2,1.2); /* IE 9 */
-webkit-transform:scale(1.2,1.2); /* Safari and Chrome */

	}
}

.row {
	// width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 62.5em;
}


.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

/***********************************************************************
**** LARGE BLURBS ******************************************************
************************************************************************/

