/***********************************************************************
**** HOME PAGE  ********************************************************
************************************************************************/

.home-row { 
margin-bottom: 5em;
}

.hero-container {
	overflow: hidden;
	background: url('/assets/hero.jpg') no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
	// margin-bottom: 1em;

	h1,h2 {
		color: white;
	}
}



.orbit-progress {

	opacity: 0;

}

.hero-text {
	top: 3em;
	left: 5em;
	text-align: left;
	p {
		font-size: 3em;
		color: #f0f0f0;
		line-height: 1.4;
		margin-bottom: .75em;
	}
}

.ipad {
	position: relative;
	top: 10em;
}


.top-cta-container {
	position: relative;
	// top: -4em;
	// left: -2em;
}

.pos-image {
	height: 30em;
	top: 3em;
	left: - 3em;
}
.top-cta {
	// position: relative;
	// left: 17em;
	// top: 10.5em;
	// position: absolute;
	// top: 20em;
	bottom: 0;
	color: #f0f0f0;
	background-color: #83d021;
}

.blurb {
	margin-bottom: 1em;
	h2 {
		margin-bottom: 0;
	}
}

.row {
	// width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 62.5em;
}


.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}