/***********************************************************************
**** HOME PAGE  ********************************************************
************************************************************************/

.home-row { 
margin-bottom: 5em;
}

.hero-row {
	// margin: 0 auto;
	text-align: center;
}

.blurb {
	// margin-top: 2em;
	h2 {
		// text-align: center;
		margin-bottom: 0;
	}
}
