/***********************************************************************
**** HOME PAGE  ********************************************************
************************************************************************/

.home-row { 
margin-bottom: 5em;
}

.hero-container {
	width: 100%;
	background-image: url('http://placehold.it/1280x480');
	height: 30em;
	text-align: center;
	margin-bottom: 1em;
}

.hero-text {
	top: 11em;
}

.top-cta-container {
	position: relative;
	top: 4em;
	// left: -2em;
}

.top-cta {
	// position: relative;
	// left: 17em;
	// top: 10.5em;

}

.blurb {
	margin-bottom: 1em;
	h2 {
		margin-bottom: 0;
	}
}

