<header>
	<div class="header-top">
		
	</div>

	<div class="row logo-container">
		  <div class="large-3 large-centered columns">
			<%= image_tag("logo.png", class: "logo") %>
		  </div>
	</div>

	<nav>

	</nav>
</header>